<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <!-- <h1><img class="show-pointer" (click)="goTo('inicio')" width="120" alt="SCC logo"
                src="/assets/images/logoNombre.png" /></h1> -->
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="">Inicio</a>
        </div>
        <div class="flex-spacer"></div>
        <div>
            <a mat-button [routerLink]="'/mi-perfil'">Mi perfil</a>
            <a mat-button [routerLink]="'/ingresar'">Salir</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="">Inicio</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="fondo">
        <router-outlet></router-outlet>
        <!-- <div class="text-center py-4">
            © 2020 Developed by <a (click)="goTo('inicio')"><span class="text-primary show-pointer">M.T
                    Technologies</span></a>
        </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>