/* You can add global styles to this file, and also import other style files */

* {
    border-radius: 0 !important;
  }
  
  // mat-sidenav-container {
  //   height: calc(100vh - 64px);
  // }
  
  // @media (max-width: 600px) {
  //   mat-sidenav-container {
  //     height: calc(100vh - 56px);
  //   }
  // }
  
  html,
  body {
    height: 100% !important;
  }
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: rgb(231, 215, 167) !important;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .fondo {
    border-radius: 0 !important;
    overflow: unset !important;
  }
  
  .show-pointer:hover {
    cursor: pointer;
  }
  
  .mat-toolbar.mat-primary {
    background: rgb(255, 166, 0);
    color: #fff;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #efa51d;
    border-color: #efa51d;
  }
  
  // .mat-toolbar.mat-primary {
  //   background: #f3bf4c;
  //   color: #fff;
  // }
  
  // .btn-primary {
  //   color: #fff;
  //   background-color: #f3bf4b;
  //   border-color: #f3bf4c;
  // }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  a:hover {
    color: #7b540e;
    text-decoration: underline;
  }
  
  #footer {
    padding: 20px 0;
    border-top: 1px solid #ececec;
    color: #444;
    font-size: 20px;
    text-align: center;
  }
  
  .flex-spacer {
    flex-grow: 1;
  }
  
  .label {
    color: #2b3990;
    font-weight: 500;
  }
  
  form label {
    letter-spacing: 0;
    color: #2b3990;
    font-size: 1em;
    font-weight: 100;
  }
  
  .form-control {
    border-radius: 0 !important;
    // -webkit-appearance: none;
    -webkit-border-radius: 0 !important;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .block {
    display: block;
  }
  
  .align-vertical {
    vertical-align: middle !important;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .content-header {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
  }
  
  