<section>
    <form>
        <div class="row m-2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="content-header">
                    Lista de historias clínicas
                    <button class="btn btn-sm btn-primary" (click)="abrirModal(crearModal, '', '')">
                        <svg class="feather show-pointer">
                            <use xlink:href="/assets/icons/feather-sprite.svg#plus"/>
                          </svg>
                        Crear
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-block">

                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
                    </mat-form-field>

                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="dni">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                                <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
                            </ng-container>

                            <ng-container matColumnDef="apellido">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                                <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sexo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
                                <td mat-cell *matCellDef="let row"> {{row.sexo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaDeNacimiento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
                                <td mat-cell *matCellDef="let row"> {{row.fechaDeNacimiento}} </td>
                            </ng-container>

                            <ng-container matColumnDef="ver">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                                <td mat-cell *matCellDef="let row">
                                    <button class="btn btn-sm btn-primary ml-5" (click)="abrirModal(verEditarModal, row.dni, row.sexo)">
                                        <svg class="feather show-pointer">
                                            <use xlink:href="/assets/icons/feather-sprite.svg#eye"/>
                                          </svg>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnasMostradas;">
                            </tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>

                </div>
            </div>
        </div>
    </form>
</section>

<ng-template #crearModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Crear historia clínica</h2>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="form-group">

                <div class="row">

                    <div class="col-12">
                        <h4>Datos personales</h4>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <mat-form-field>
                            <mat-label>DNI</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <mat-radio-group aria-label="Sexo">
                            <mat-radio-button value="1">Femenino</mat-radio-button>
                            <mat-radio-button class="ml-2" value="2">Masculino</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha de nacimiento" name="dp" [(ngModel)]="model"
                                ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="d.toggle()" type="button">
                                    <svg class="feather show-pointer">
                                        <use xlink:href="/assets/icons/feather-sprite.svg#calendar"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <h4>Antecedentes personales</h4>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Quirurgicos</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Transfusionales</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Alergias</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Hospitalizaciones previas</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Fisiologicos</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field>
                            <mat-label>Habitos toxicos</mat-label>
                            <textarea matInput placeholder="Ej: alcohol, tabaco, etc"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Otros</mat-label>
                            <textarea matInput placeholder="Ninguno"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Padecimiento actual</mat-label>
                            <textarea matInput placeholder="1 principio, 2 evolución, 3 estado actual"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" (click)="cerrarModal()">Cancelar y cerrar</button>
        <button type="button" class="btn btn-primary" (click)="cerrarModal()">Guardar</button>
    </div>
</ng-template>

<ng-template #verEditarModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Historia clínica</h2>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form">
            <div class="form-group">

                <div class="row">

                    <div class="col-12">
                        <h4>Datos personales</h4>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Apellido</mat-label>
                            <input matInput name="apellido" [(ngModel)]="modelo.apellido">
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Apellido:</b> {{modelo.apellido}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Nombre</mat-label>
                            <input matInput name="nombre" [(ngModel)]="modelo.nombre">
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Nombre:</b> {{modelo.nombre}}</span>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <mat-form-field aria-label="Sexo" *ngIf="editar">
                            <mat-label>DNI</mat-label>
                            <input matInput name="dni" [(ngModel)]="modelo.dni">
                        </mat-form-field>
                        <span *ngIf="!editar"><b>DNI:</b> {{modelo.dni}}</span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <mat-radio-group aria-label="Sexo" *ngIf="editar">
                            <mat-radio-button value="1" [checked]="modelo.sexo == 'F'">Femenino</mat-radio-button>
                            <mat-radio-button class="ml-2" value="2" [checked]="modelo.sexo == 'M'">Masculino</mat-radio-button>
                        </mat-radio-group>
                        <span *ngIf="!editar"><b>Sexo:</b> {{modelo.sexo}}</span>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="input-group" *ngIf="editar">
                            <input class="form-control" placeholder="00/00/0000" name="dp" [(ngModel)]="model"
                                ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="d.toggle()" type="button">
                                    <svg class="feather show-pointer">
                                        <use xlink:href="/assets/icons/feather-sprite.svg#calendar"/>
                                      </svg>
                                </button>
                            </div>
                        </div>
                        <span *ngIf="!editar"><b>Fecha de nacimiento:</b> {{modelo.fechaDeNacimiento}}</span>
                    </div>

                    <div class="col-12">
                        <h4>Antecedentes personales</h4>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Quirurgicos</mat-label>
                            <textarea matInput placeholder="Ninguno" name="quirurgicos" [(ngModel)]="modelo.quirurgicos"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Quirurgicos:</b> {{modelo.quirurgicos}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Transfusionales</mat-label>
                            <textarea matInput placeholder="Ninguno" name="transfusionales" [(ngModel)]="modelo.transfusionales"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Transfusionales:</b> {{modelo.transfusionales}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Alergias</mat-label>
                            <textarea matInput placeholder="Ninguno" name="alergias" [(ngModel)]="modelo.alergias"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Alergias:</b> {{modelo.alergias}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Hospitalizaciones previas</mat-label>
                            <textarea matInput placeholder="Ninguno" name="hospitalizacionesPrevias" [(ngModel)]="modelo.hospitalizacionesPrevias"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Hospitalizaciones previas:</b> {{modelo.hospitalizacionesPrevias}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Fisiologicos</mat-label>
                            <textarea matInput placeholder="Ninguno" name="fisiologicos" [(ngModel)]="modelo.fisiologicos"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Fisiologicos:</b> {{modelo.fisiologicos}}</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Habitos toxicos</mat-label>
                            <textarea matInput placeholder="Ej: alcohol, tabaco, etc" name="habitosToxicos" [(ngModel)]="modelo.habitosToxicos"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Habitos toxicos:</b> {{modelo.habitosToxicos}}</span>
                    </div>
                    <div class="col-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Otros</mat-label>
                            <textarea matInput placeholder="Ninguno" name="otros" [(ngModel)]="modelo.otros"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Otros:</b> {{modelo.otros}}</span>
                    </div>
                    <div class="col-12">
                        <mat-form-field *ngIf="editar">
                            <mat-label>Padecimiento actual</mat-label>
                            <textarea matInput placeholder="1 principio, 2 evolución, 3 estado actual" name="padecimientoActual" [(ngModel)]="modelo.padecimientoActual"></textarea>
                        </mat-form-field>
                        <span *ngIf="!editar"><b>Padecimiento actual:</b> {{modelo.padecimientoActual}}</span>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark mr-2" (click)="cerrarModal()">Cerrar</button>
        <button type="button" class="btn btn-outline-primary mr-2" (click)="modoEditar()" *ngIf="!editar">Editar</button>
        <button type="button" class="btn btn-secondary mr-2" (click)="modoEditar()" *ngIf="editar">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="cerrarModal()">Guardar</button>
    </div>
</ng-template>